{% extends 'base.html' %}
{% load static %}

{% block title %}Add Property - BookingPlatform{% endblock %}

{% block content %}
<div class="container py-4">
    <h2 class="mb-4">Add New Property Here</h2>
    
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            {{ form.title }}
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            {{ form.description }}
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Category</label>
                                {{ form.category }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Property Type</label>
                                {{ form.property_type }}
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Address</label>
                            {{ form.address }}
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="form-label">City</label>
                                {{ form.city }}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">State</label>
                                {{ form.state }}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Country</label>
                                {{ form.country }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label class="form-label">Bedrooms</label>
                                {{ form.bedrooms }}
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">Bathrooms</label>
                                {{ form.bathrooms }}
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">Max Guests</label>
                                {{ form.max_guests }}
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">Price per Night</label>
                                {{ form.price_per_night }}
                            </div>
                        </div>
                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-plus me-2"></i>Add Property
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
